<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<h1>환영합니다.</h1>
로그인에 성공하신 분들이 거치는 곳입니다.
<div th:if="${isLogin}">
<form style="submit">
    <button type="button" onclick="logoutUser()">로그아웃</button>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/Member.js"></script>
</body>
</html>