<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Login.SessionLogin.dao.MemberMapper">

    <select id="findByUserId" resultType="com.example.Login.SessionLogin.domain.Member" parameterType="String">
        select *
        From member
        where user_id = #{userId}
    </select>

    <insert id="insertMember" parameterType="com.example.Login.SessionLogin.domain.Member">
        INSERT INTO member
            (user_id, user_password, user_name, user_email, role)
        VALUES
            (#{userId}, #{userPassword}, #{userName},#{userEmail},#{roleName})
    </insert>



</mapper>